
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/JujutsuKaisen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
    font-family: 'Naruto';
    src: url('fonts/ninja-naruto.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    body{
        overflow-x: hidden;
    }
.containermain {
    background-size: cover; /* This makes the image cover the entire container */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    width: 100%; /* Ensures the container takes the full width of its parent */
    height: 100vh; /* Makes the container full height */
    overflow: hidden; /* Prevents overflow from the container itself */
    margin: 0;
    background-attachment: fixed; /* Creates the parallax scrolling effect */
    background-position: center;
    animation: zoomAndChange 20s infinite alternate ease-in-out;
    transform-origin: center center; /* Sets the point of scaling to the center */
}

/* Define the keyframes for the zoom and change effect */
@keyframes zoomAndChange {
    0% {
        background-image: url('static/final.jpg');
        transform: scale(1); /* Start with original size */
    }
    50% {
        transform: scale(1.05); /* Zoom in slightly */
    }
    51% {
        background-image: url('static/Main.png'); /* Change to the next image */
        transform: scale(1.05); /* Maintain zoom level when changing image */
    }
    100% {
        background-image: url('static/final.jpg');
        transform: scale(1); /* Zoom out to original size */
    }
}
    
    .charac{
    
    background-image: url('static/sl2.jpg');
    background-size: cover; /* This makes the image cover the entire container */
    background-repeat: no-repeat; /* This prevents the image from repeating */
     /* This centers the image in the container */
    width: 100%; /* Ensures the container takes the full width of its parent */
    height: 100vh;
    overflow: hidden;
    margin: 0;
    transform-origin: center center;
     /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    
    }
    *{
    margin: 0;
    padding: 0;
    }
    
    
    
        .container1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav1, .nav2 {
            display: flex;
            list-style-type: none;
            
            font-size: 18px;
        }
        li {
            padding: 10px;
            list-style: none;
            margin-top: 0;
        }
        .nav1{
            font-family: 'MyCustomFont';
            font-size: 45px;
            color: yellow;
            font-weight: 900;
        }
        
        .nav2{
            font-family: 'Naruto';
            font-size: 24px;
            
            color: yellow;
            font-weight: 800;
        }
        .first{
            
            text-align: center;
            position: relative;
            top: 70%;
            font-size: 8em;
            font-family: 'MyCustomFont';
            color: whitesmoke;
            margin-top: 120px;
            -webkit-animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000)  both;
    
    
        }
        @keyframes sparkle {
    0%, 100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.8;
    }
    50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
    }
    }
        .second{
            text-align: center;
            position: relative;
            top: 70%;
            font-size: 5em;
            font-family: 'MyCustomFont';
            color: whitesmoke;
            
            -webkit-animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000)  both;
        }
        @-webkit-keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
    }
    @keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
    }
    
    .cards:hover{
        border-radius: 25px;
        transition: 2s;
    }
    .fav{
        
        
        margin-top: 5%;
        font-family: 'MyCustomFont';
        font-size: 6rem;
        
    }
    .m1{
        position: relative;
    }
    

/* Ensures layout styles are separate from card styles */
.wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    
}


.cards{
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    /* Make sure the card is set to relative so its child (info) is positioned correctly */
    background-color: #fff; /* Optional: Sets a background color for visibility */

}

.cards:hover {
    transform: scale(1.05);
}

.cards img {
    width: 100%;
    display: block;
    border-bottom: 3px solid #333;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    text-align: center;
    font-family: "MyCustomFont";
}

.cards:hover .info {
    transform: translateY(0);
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),
      linear-gradient(
        137.48deg,
        #ffdb3b 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: "Avalors Personal Use";
    font-size: 12px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .btn:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #fe53bb;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  #lis{
    text-decoration: none;
    color: whitesmoke;
    
  }